name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  mlflow-project:
    runs-on: ubuntu-latest

    steps:
    # 1. set up job + checkout
    - name: Checkout Repository
      uses: actions/checkout@v3

    # 2. set up python 3.12.7
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. check env
    - name: Check Python Version
      run: python --version

    # 4. install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas numpy scikit-learn

    # 5. run mlflow project
    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    # 6. get latest mlflow run_id
    - name: Get latest MLflow run_id
      run: |
        mlflow runs list