name: MLflow CI

on: [push, pull_request]

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up ular conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniconda-version: "latest"
        activate-environment: churn-env
        environment-file: ./MLProject/conda.yaml
        auto-activate-base: false

    - name: Run MLflow   
      shell: bash
      env:
        MLFLOW_TRACKING_URI: file:${{ github.workspace }}/MLProject/mlruns
      run: |
        cd MLProject
        source $(conda info --base)/etc/profile.d/conda.sh
        conda activate churn-env
        mlflow run . Customer_Churn_Experiment

    - name: Upload MLflow artefak
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artefak
        path: MLProject/mlruns
